.dasboard {
  .squareCat {
    border-radius: 25px;
    padding: 18px;
    width: 41px;
    height: 45px;
    opacity: 0.5;
  }
  .squareCat:hover {
    opacity: 1;
  }
  .gridContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    //background-color: #f0f5f8;
    padding: 10px;
  }
  .gridItem {
    text-align: center;
  }
  .internalApplicationItems {
    display: flex;
    grid-template-columns: auto auto auto auto;
    //background-color: #f0f5f8;
    padding: 10px;
  }
  i.msIcon {
    font-size: 35px;
    margin-bottom: 10px;
    color: white;
  }
  .squareCat1 {
    background: #f1e6e6;
    width: 48px;
    border-radius: 20px;
    padding: 10px;
    height: 60px;
  }
  .panel {
    width: 382px;
    margin-top: 10%;
    margin-right: 70%;
  }
  .textbreak {
    white-space: nowrap;
    width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid #000000;
  }
}
